/* global */
div.codex-editor__redactor {
  padding-bottom: 2rem !important;
  margin-right: 10px !important;
}

div.ce-block__content {
  @apply w-full max-w-3xl;
}

/* headings */
h2.ce-header {
  @apply font-open-sans mb-8 pt-2 text-4xl font-bold;
}

h3.ce-header {
  @apply font-open-sans mb-6 pt-2 text-3xl font-bold;
}

h4.ce-header {
  @apply font-open-sans mb-4 pt-2 font-bold lg:text-xl;
}

/* paragraph */
.ce-paragraph {
  @apply mb-10 p-0 font-serif text-lg md:text-xl md:leading-8;
}

/* lists */
.cdx-list {
  @apply mb-9 list-inside list-disc;
}

.cdx-list li.cdx-list__item {
  @apply mb-5 p-0 font-serif text-lg md:text-xl md:leading-8;
}

/* inline links */
#content-editor div a,
#content-block div a {
  color: #2c40d0;
  /* @apply text-blue-700; */
}

/* marker */
.cdx-marker {
  background-color: #dbeafe !important;
}

/* link tool */
.link-tool__content {
  @apply mb-10;
}

.link-tool__title {
  font-weight: bold !important;
  font-size: 20px !important;
  @apply font-primary;
}

@media only screen and (min-width: 1024px) {
  .link-tool__title {
    font-size: 24px !important;
  }
}
