@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 6rem;
}

.centered-item {
  transform: translate(-50%, -50%);
}

.vertically-centered {
  transform: translateY(-50%);
}

.horizontally-centered {
  transform: translateY(-50%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#searchControl input {
  transition: width 0.3s ease;
}

.longInput {
  width: 200px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.5) !important;
  margin-right: 50px;
}

#searchButton:focus + input {
  @apply longInput;
}

#searchInput:focus {
  @apply longInput;
}
