@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800 pt-24;
}

.horizontal-spacing {
  @apply 2xl:px-0 lg:px-5 md:px-3 px-2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.divider {
  border-color: rgba(0, 0, 0, 0.2);
}

/* interactive search */
#searchControl input {
  transition: width 0.3s ease;
}

.longInput {
  width: 200px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.5) !important;
  margin-right: 50px;
}

#searchButton:focus + input {
  @apply longInput;
}

#searchInput:focus {
  @apply longInput;
}

/*  */

#postIntroParent article:last-child {
  margin-bottom: 0rem;
}

.mobileImageSize {
  min-width: 100px !important;
}

.truncate-1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.5rem; /* fallback */
  /* max-height: 32px;      fallback */
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
