@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800 dark:text-gray-200 pt-16;
}

.horizontal-spacing {
  @apply 2xl:px-3 lg:px-5 md:px-3 px-2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.divider-col {
  border-color: rgba(0, 0, 0, 0.2);
}

ul.spaced li:not(:last-child) {
  @apply mb-5;
}

/*  */

#postIntroParent article:last-child {
  margin-bottom: 0rem;
}

.mobileImageSize {
  min-width: 100px !important;
}

@media only screen and (min-width: 768px) {
  .truncate-1-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5rem; /* fallback */
    /* max-height: 32px;      fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

/* Bungee headings */
.bungee-head-style {
  @apply uppercase font-bungee-shade lg:text-4.5xl sm:text-4xl text-3xl text-black mb-6 dark:text-gray-300;
}

/* interactive search */
#searchControl input {
  transition: width 0.3s ease;
}

.longInput {
  width: 200px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.5) !important;
  margin-right: 50px;
}

#searchButton:focus + input {
  @apply longInput;
}

#searchInput:focus {
  @apply longInput;
}


/* search page form */

.form-input:focus + .label-name .content-name,
.form-input:valid + .label-name .content-name {
  transform: translateY(-155%);
  color: #3883ca;
  @apply font-normal text-xl;
}

.form-input:focus ~ .search-btn,
.form-input:valid ~ .search-btn {
  @apply text-gray-800;
}

.form-input:focus + .label-name,
.form-input:valid + .label-name {
  @apply border-b border-gray-800;
}

/*  */
.gradient-div:hover + div img {
  @apply transform scale-110 duration-500;
}