.clearfix {
  @apply flow-root;
}

.between-rel-parent {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

/* remove outlines and borer from input fields */
.unstyled-input {
  @apply border-none focus:outline-0;
}

/* true/false buttons in admin panel */
.admin-bool-btn {
  @apply font-raleway w-14 py-2 text-sm font-medium;
}

.required-field::before {
  content: "* ";
  @apply -ml-3 pt-1 text-xl text-red-600;
}

.horizontal-spacing {
  @apply px-2 md:px-3 lg:px-5 xl:px-0;
}

.divider-col {
  border-color: rgba(0, 0, 0, 0.2);
}

ul.spaced li:not(:last-child) {
  @apply mb-5;
}

.margin-tags:not(:last-of-type) {
  @apply mr-4;
}

.admin-primary-layout {
  @apply flex-1 pt-12 pr-5 pl-80;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* image uploaders */
.banner-overlay-parent:hover .banner-overlay {
  @apply opacity-80;
}

.banner-overlay {
  @apply absolute bg-darkGray transform opacity-0 transition-all duration-300 text-white h-16 w-16 right-0 top-0;
}
