.clearfix {
  @apply flow-root;
}

.between-rel-parent {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}

/* remove outlines and borer from input fields */
.unstyled-input {
  @apply border-none focus:outline-0;
}

/* true/false buttons in admin panel */
.admin-bool-btn {
  @apply w-14 py-2 text-sm font-medium;
}

.required-field::after {
  content: " *";
  @apply mr-3 pt-1 text-xl text-red-600;
}

.horizontal-spacing {
  @apply px-3 lg:px-5 xl:px-0;
}

.divider-col {
  border-color: rgba(0, 0, 0, 0.2);
}

/* .remove-decoration {
  text-decoration: none !important;
} */

ul.spaced li:not(:last-child) {
  @apply mb-5;
}

.margin-tags:not(:last-of-type) {
  @apply mr-4;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* image uploaders */
.banner-overlay-parent:hover .banner-overlay {
  @apply opacity-80;
}

.banner-overlay {
  @apply bg-darkGray absolute right-0 top-0 h-16 w-16 transform text-white opacity-0 transition-all duration-300;
}

/* line-across */
.line-across::before {
  content: "";
  height: 2px;
  @apply absolute left-0 top-1/2 -z-10 block w-36 bg-black;
}

.line-across::after {
  content: "";
  height: 2px;
  @apply absolute right-0 top-1/2 -z-10 block w-36 bg-black;
}

/* label text in creator panel */
/* .creator-dashboard-input:disabled {
  @apply border-neutral-400;
}

.creator-dashboard-input:disabled + .dark-on-valid-label {
  @apply text-neutral-400 opacity-100;
} */

.creator-dashboard-input:not(:placeholder-shown):disabled {
  @apply border-neutral-400;
}

.creator-dashboard-input:not(:placeholder-shown):disabled
  + .dark-on-valid-label {
  @apply text-neutral-400 opacity-100;
}

.creator-dashboard-input:not(:placeholder-shown) {
  @apply border-neutral-600 dark:border-neutral-300;
}

.creator-dashboard-input:not(:placeholder-shown) + .dark-on-valid-label {
  @apply text-neutral-600 opacity-100 dark:text-neutral-300;
}

.creator-dashboard-input:not(:placeholder-shown):disabled + .dark-on-valid-label {
  @apply text-neutral-600 opacity-100;
}

/* placeholder on contenteditable div */
.need-placeholder[placeholder]:empty::before {
  content: attr(placeholder);
  @apply text-neutral-400;
}
